@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
.hover-opacity:hover{
    opacity: 0.7;
}

.hover-opacity{
    transition: opacity .3s ease-in-out;
}

.ltr-effect,.utb-effect{
    position: relative;
}


.ltr-effect:after,.utb-effect:after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #10161A;
    z-index: -1;
    transition: width .2s ease-in-out,height .2s ease-in-out, color .2s ease-in-out;
}

.ltr-effect:after{
    width: 0%;
    height: 100%;
}

.utb-effect:after{
    width: 100%;
    height: 0%;
}

.ltr-effect:hover:after{
    width: 100%;
}


.utb-effect:hover:after{
    height: 100%;
}


.utb-effect:hover .prices-item-title,.utb-effect:hover .prices-item-btn,.utb-effect:hover .namejob span{
    color: #537DD3;
}

.ltr-effect:hover .offer-item-title,.utb-effect:hover .prices-item-price,.utb-effect:hover .offer-item-title,.utb-effect:hover .namejob h3{
    color: #fff;
}



/* 2- GENERAL STYLES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rakkas', cursive;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Rakkas', cursive;

    font-weight: 300;
}

a{
    text-decoration: none;
}

button{
    font-family: inherit;
}



.container2{
    width: 1170px;
    margin: auto;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left:0;
}

.clear{
    clear: both;
}

.container{
    width:80%;
    margin:auto;
}
.header-fixed {
    background-color:#292c2f;
    box-shadow:0 1px 1px #ccc;
    padding: 20px 40px;
    height: 80px;
    color: #ffffff;
    box-sizing: border-box;
    top:-100px;

    -webkit-transition:top 0.3s;
    transition:top 0.3s;
}

.header-fixed .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
    height: 80px;
    display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
    float: left;
    font: normal 28px font-family: 'Rakkas', cursive;

    line-height: 40px;
    margin: 0;
}

.header-fixed .header-limiter h1 span {
    color: #5383d3;
}

/* The navigation links */

.header-fixed .header-limiter a {
    color: #ffffff;
    text-decoration: none;
}

.header-fixed .header-limiter nav {
    font:16px font-family: 'Rakkas', cursive;
    line-height: 40px;
    float: right;
}

.header-fixed .header-limiter nav a{
    display: inline-block;
    padding: 0 5px;
    text-decoration:none;
    color: #ffffff;
    opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
    opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
    color: #608bd2;
    pointer-events: none;
    opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
    padding: 10px 40px;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

body.fixed .header-fixed-placeholder {
    display: block;
}

body.fixed .header-fixed .header-limiter h1 {
    font-size: 24px;
    line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
    line-height: 28px;
    font-size: 13px;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

    .header-fixed {
        padding: 20px 0;
        height: 75px;
    }

    .header-fixed .header-limiter h1 {
        float: none;
        margin: -8px 0 10px;
        text-align: center;
        font-size: 24px;
        line-height: 1;
    }

    .header-fixed .header-limiter nav {
        line-height: 1;
        float:none;
    }

    .header-fixed .header-limiter nav a {
        font-size: 13px;
    }

    body.fixed .header-fixed {
        display: none;
    }

}

/*
	 We are clearing the body's margin and padding, so that the header fits properly.
	 We are also adding a height to demonstrate the scrolling behavior. You can remove
	 these styles.
 */





.pd-y{
    padding: 120px 0;
}



/* 3.8- CONTACT SECTION STYLE */
.container{
    width:80%;
    margin:auto;
}
.header{
    position:absolute;
    width:100%;
    z-index:10
}

.header .logo{
    width: 40%;
    float: left;
}
.header .nav{
    width:60%;
    float:left;
    list-style:none;
    text-align:right;
}
.header .nav > li{
    display:inline-block;
    text-align:center;

}
.header .nav > li > a{
    color:#fff;

    font-size:15px;
    text-decoration:none;
    display: block;
    padding:30px 10px;
}
.header .nav > li > a.active:after{
    content: "";
    display: block;
    width:100%;
    height:3px;
    background-color:#6195ff;
    margin-top:2px;

}
.header .nav > li > a:after{
    content:"";
    display:block;
    width:0;
    margin-top:2px;
    height:3px;
    background-color:#6195ff;
    transition:width 0.5s;


}
.header .nav > li > a:hover:after{
    width:100%;
}
.clear{
    clear: both;
}
.dropdown{
    position: relative;
    text-align: center;

}
.dropdown-thing {

    list-style: none;
    position: absolute;
    background-color:#6195FF ;
    width: 300%;
    height: 40px;
    margin-top:-10%;
    text-align: center;
    margin-left: -60px;
    padding-top: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ,visibility 500ms;
}
.dropdown-thing {
    color: white;
    display: block;
    padding: 10px;

}
.dropdown:hover .dropdown-thing {
    opacity: 1;
    visibility: visible;
}

.home{
    height: 90vh;
    background-image:url("images.jpg") ;
    background-position:center ;
    background-size: cover;
    position: relative;

}
.home-content{
    text-align: center;
    width:65% ;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
}
.home .title{
    color: white;
    font-size: 2.8rem;
    text-transform: uppercase;
}
.home .home-desc{
    color: white;
    font-size: 30px;
    margin: 20px 0;
    text-transform: capitalize;
    letter-spacing:2px ;
    line-height: 1.5;
    font-family: 'Rakkas', cursive;

}

@media screen and (max-width: 736px) {

    .home .home-desc{
        color: white;
        font-size: 25px;
        margin: 20px 0 ;
        text-transform: capitalize;
        letter-spacing:2px ;
        line-height: 1.5;
        font-family: 'Rakkas', cursive;

    }

}
.home  button{
    min-width: 160px;
    padding: 15px 0;
    margin-top: 60px;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.home  btn-start{
    margin-left:15px ;
    background-color: black;
}
.home  .btn-snap{
    background-color:#f8e71c ;

    color: black;
    margin-left: 10px;
}
hover-opacity{
    transition: opacity 0.5s;
}
.home .home-content button:hover{
    opacity: 0.8;
}



.about{
    padding: 114px;
    position: relative;
    background-color: #fafafa;
    height: 700px;
    width: 100%;
    border-top: 0.5px solid #e7e7e7bb;
    display: flex;



}


.about-content{
    overflow: hidden;
    display: flex;


}


.ligne {
    display: block;
    width: 150px;
    height: 4px;
    background-color: #6195FF;
    display: block;
    margin: 15px auto 70px;


}
.big-title-left{
    text-align: center;
    padding-bottom: 40px;
}
.big-title-left .title {
    font-size: 40px;
    text-transform: capitalize;
}

.about .part_one {
    width: 50%;
    float: right;

    text-align: center;
    padding-left: 100px;


}

.about .part_one .paragraph{
    color: black;
    font-size: 20px;

    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.9;
    letter-spacing: 1px;

}

.about .part.two {
    width: 50%;
    padding-bottom: 200px;
    padding-right: 100px;
    float: left;


}

.about .part.two .image{
    width: 100%;
    height:470px;



}
.about .part.two .image img{
    width: 100%;
    height: 100%;




}
@media screen and (max-width: 736px) {

    .about{
        padding: 10px;
        position: relative;
        background-color: #fafafa;
        height: 800px;
        width: 100%;
        border-top: 0.5px solid #e7e7e7bb;
        display: flex;



    }


    .about-content{
        overflow: hidden;
        display: flex;


    }


    .big-title-left .ligne {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #f8e71c ;
        margin-top: 10px;
        text-align: right;


    }
    .big-title-left{
        text-align: center;
        padding-bottom: 40px;
    }
    .big-title-left .title {
        font-size: 20px;
        text-transform: capitalize;
    }

    .about .part_one {
        width: 100%;
        padding:20px;



    }

    .about .part_one .paragraph{
        color: black;
        font-size: 20px;


        text-transform: capitalize;
        margin-bottom: 15px;
        line-height: 1.9;
        letter-spacing: 1px;

    }

    .about .part.two {
        width: 100%;
        padding-bottom: 200px;
        padding:20px;


    }

    .about .part.two .image{
        width: 100%;
        height:470px;



    }
    .about .part.two .image img{
        width: 100%;
        height: 100%;




    }
}
.offer{
    text-align: center;
    padding: 140px 0;
    position: relative;

}
.offer-content{
    overflow: hidden;
}
.offer-item {

    width:30%;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px ;
    border: 1px solid #e8e8e8;
    padding: 15px;
    position: relative;


}


.offer-item.mg{
    margin: 0 5%;
}
.offer-item .icon{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 40px;

}
.offer-item .iconse{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size:80px;
    color:#6195FF ;


}
.offer-item-title{
    text-transform: capitalize;
    margin-bottom: 15px;

}
.offer-item-de{
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    color:#988888 ;
}
@media screen and (max-width: 736px) {


    .offer{
        -webkit-text-align: center;
        -webkit-padding: 180px 0;
        -webkit-position: relative;

    }
    .offer-content{
        -webkit-overflow: hidden;
    }
    .offer-item {
        -webkit-width:80%;
        -moz-width:80%;
        -ms-width:80%;
        -o-width:80%;
        width:80%;

        -webkit-margin-bottom: 20px ;
        -webkit-border: 1px solid #e8e8e8;

        -webkit-padding: 15px 15px 30px 70px;
        -webkit-position: relative;
        margin-bottom: 20px ;
        border: 1px solid #e8e8e8;
    padding: 15px 15px 30px 70px;
            position: relative;





    }


    .offer-item.mg{
        margin: 0 5%;
    }
    .offer-item .icon{
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 35px;

    }

    .offer-item-title{
        text-transform: capitalize;
        margin-bottom: 15px;

    }
    .offer-item-de{
        text-transform: capitalize;
        margin-bottom: 15px;
        line-height: 1.6;
        color:#988888 ;
    }

}




.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    font: bold 16px 'Rakkas', cursive;
    overflow: hidden;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;


}

.footer-distributed .footer-left{
    width: 40%;

}

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Rakkas', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}


.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


@media (max-width: 736px) {

    .footer-distributed {
        font: bold 14px 'Rakkas', cursive;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 108%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

    .main {
        line-height: normal;
        font-size: auto;
    }

}


.arrow{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}
.arrow a{
    height: 39px;
    width: 37px;
    text-align: center;
    background-color:#f8e71c ;
    display: block;
    border-radius: 3px;
}
.arrow a span{
    color: #f2f2f2;
    font-size: 25px;
    line-height: 39px;
    cursor: pointer;
}
.features{
    text-align: center;
    padding: 120px 0;
    position: relative;


}

.features-item {
    width:20%;
    float: left;
    margin-left: 130px;

    margin-bottom: 20px ;
    padding: 10px;
    position: relative;


}
.features-item a{
    text-decoration: none;
    color: #6195FF;


}
.features-item .icon{
    font-size: 30px;
    padding-bottom: 10px;
    color:#6195FF ;


}
.features-item-title{
    text-transform: capitalize;
    margin-bottom: 5px;
    padding-bottom: 10px;

}
.features-item-de{
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    color:#988888 ;
}
@media screen and (max-width: 736px) {

    .features{
        text-align: center;

    }
    .features-content{
        overflow: hidden;
    }
    .features-item {
        width:100%;
        -webkit-width:100%;
        -o-width:100%;
        -ms-width:100%;

        margin: 4px;


    }
    .features-item a{
        -webkit-text-decoration: none;
        -webkit-color: #6195FF;


    }
    .features-item .icon{
        -webkit-font-size: 100px;
        -webkit-padding-bottom: 40px;
        -webkit-color:#6195FF ;




    }
    .features-item-title{
        text-transform: capitalize;
        margin-bottom: 5px;
        padding-bottom: 10px;

    }
    .features-item-de{
        -webkit-text-transform: capitalize;
        -webkit-margin-bottom: 15px;
        line-height: 1.6;
        color:#988888 ;
    }

}


